.details-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #f3dcf9;
    max-height: 100vh;
    overflow: hidden;

}

.details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
        text-align: center;
        align-items: center;
        &___info{
            width: 500px;
            height: 750px;
            margin-bottom: -500px;
            background-color: rgb(245, 240, 251);
            z-index:1; 
            position: absolute;
            border-radius: 30px;
        }
        &___image{
           background-size: 200px 250px;
           width: 200px;
           height: 250px;
           margin-bottom: 150px;
           border-radius: 100%;
           z-index:2;
        }
    }



