/* nav {
    background-color: #a3d9ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    overflow: hidden;
}
h1{
    font-family: Marker Felt, fantasy;
    color: rgb(240, 88, 164)
}

.navlink a:hover{
    color: paleturquoise;
    text-decoration: none;
}
a:link { text-decoration: none;
 }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }

.logo{
    width: 280px; 
  height: 80px; 
  margin-bottom: -25px;
  } */