.navbar{
    width: 100%;
    height: 10%;
    background-color: #f3dcf9;
    display: flex;
    justify-content: space-between;

    &__listitem{
        float: left;
        padding: 20px 50px;
        font-family: 'Varela Round', sans-serif;
        text-align: center;

    }
    &__listitem a{
        text-decoration: none;
        color: #000000;
        font-size: 25px;
    }
    &__listitem a:hover{
        color: #d563bd;
    }
    // &__listitem:link, &__listitem:hover, &__listitem:focus, &__listitem:active{
    //     text-decoration: none;
    // }
    &__listitem a img{
       height: 200px;
       margin-top: -80px;
    }
}
.navbar ul {
    list-style-type: none;
    padding-top: 30px;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
    .navbar{
        width: 100%;
        height: 10%;
        background-color: #f3dcf9;
        display: flex;
        justify-content: space-between;
    
        &__listitem{
            float: left;
            padding: 0px 10px;
            font-family: 'Varela Round', sans-serif;
        }
        &__listitem a{
            text-decoration: none;
            color: #000000;
            text-decoration: none;
            font-size: 20px;
        }

        &__listitem a img{
           height: 150px;
        }
    }
    .navbar ul {
        list-style-type: none;
        padding-top: 20px;
    }
}