.App{
background-color: #ebff6c;
overflow: hidden;
background-size: cover;
width: 100%;
height: 100vh;
}

table{
  margin-left:auto; 
  margin-right:auto;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.catcard {
  padding: 30px;
  text-align: center;
}

.home{
  text-align: center;
}

form{
  text-align: center;
  border: 20px solid;
  border-image: repeating-linear-gradient(45deg, rgb(81, 242, 69), rgb(102, 204, 255), rgb(242, 92, 242))60;
  width: 500px;
  margin-left:auto; 
  margin-right:auto;
}

.details{
  text-align: center;
  border: 20px solid;
  border-image: repeating-linear-gradient(45deg, rgb(81, 242, 69), rgb(102, 204, 255), rgb(242, 92, 242))60;
  width: 500px;
  margin-left:auto; 
  margin-right:auto;
}

button{
  
    background-color: #a3d9ff;
    border: rgb(227, 76, 152) 3px solid;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
